.hero {
  width: 100%;
  position: relative;
  margin-bottom: 60px;

  &__image {
    display: block;
    width: 95%;
    max-width: 600px;
    margin: 0 auto;
  }

  &__bubble {
    background-color: $color-light-blue;
    position: absolute;
    height: 75%;
    width: 85%;
    max-width: 600px;
    top: 70px;
    right: 0;
    z-index: -1;
    border-bottom-left-radius: 100px;
  }
}
