.menu {
  height: 100vh;
  background-color: hsl(229, 31%, 21%);
  transform: translateX(-100%);
  transition: transform 300ms ease-in-out;
  opacity: 0.95; // zmień
  padding: 40px 30px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;

  &__logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
  }

  &__navigation-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    letter-spacing: 5px;

    &:first-child {
      border-top: 1px solid gray;
    }
  }

  &__navigation-element {
    list-style: none;
    color: white;
  }

  &__navigation-link {
    text-decoration: none;
    color: white;
    padding: 25px 0;
    border-bottom: 1px solid gray;
    display: inline-block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
  }

  &__button {
    font-size: 18px;
    font-family: 'Rubik';
    text-transform: uppercase;
    display: block;
    margin: auto;
    margin-bottom: 110px;
    width: 100%;
    padding: 10px 0;
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    letter-spacing: 3px;

    &:active {
      background-color: white;
      color: $color-dark-blue;
    }
  }

  &__icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 29%;
    padding-top: 45px;
    padding-bottom: 50px;
    margin: 0 auto;
  }
}

.visible {
  transform: translateX(0);
}
