.introduction {
  text-align: center;

  @media (min-width: 1100px) {
    max-width: 40%;
  }

  &__title {
    color: $color-dark-blue;
    font-weight: $font-weight-medium;
    font-size: 35px;
    line-height: 45px;
    padding-bottom: 20px;
    margin: 0 auto;

    @media (min-width: 1100px) {
      text-align: left;
    }
  }

  &__description {
    color: $color-grayish;
    font-size: 16px;
    line-height: 30px;
    padding-bottom: 35px;
    max-width: 550px;
    margin: 0 auto;

    @media (min-width: 1100px) {
      text-align: left;
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-bottom: 150px;
    font-size: $small-font-size;

    @media (min-width: 1100px) {
      gap: 25px;
      justify-content: flex-start;
    }
  }
}
