@import './utils/reset.scss';
@import './utils/variables.scss';

@import '../components/Navigation/Navigations.scss';
@import '../components/Hero/Hero.scss';
@import '../components/Introduction/Introduction.scss';
@import '../components/Features/Features.scss';
@import '../components/Extensions/Extensions.scss';
@import '../components/BrowserCard/BrowserCard.scss';
@import '../components/FAQ/FAQ.scss';
@import '../components/Accordion/Accordion.scss';
@import '../components/Contact/Contact.scss';

* {
  box-sizing: border-box;
}

body {
  font-size: $body-font-size;
  font-family: $font-family-rubik;
}
