.footer {
  font-size: 15px;
  background-color: $color-dark-blue;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding-top: 50px;
  text-transform: uppercase;

  &__options {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    letter-spacing: 1px;
  }

  &__option {
    text-decoration: none;
    color: rgb(197, 197, 197);
  }

  &__icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 22%;
    padding-top: 20px;
    padding-bottom: 50px;
  }
}
