.card {
  height: 370px;
  width: 270px;
  padding-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
  transition: transform 1s ease;
  animation: float 6s ease-in-out infinite;

  &:hover .card__image {
    transform: rotateY(180deg);
  }

  &--1 {
    animation-delay: 1s;
  }

  &--2 {
    &:hover .card__image {
      animation-delay: 2s;
      transform: rotate(360deg);
    }
  }

  &--3 {
    animation-delay: 3s;
  }

  &__image {
    padding-top: 50px;
    padding-bottom: 30px;
    transition: transform 1s ease;
  }

  &__title {
    color: $color-dark-blue;
    padding-bottom: $small-font-size;
    font-weight: $font-weight-medium;
  }

  &__version-note {
    color: $color-grayish;
    font-size: $small-font-size;
    padding-bottom: 30px;
  }

  &__dots {
    padding-bottom: 40px;
  }

  @media (min-width: 1100px) {
    &--1 {
      align-self: flex-start;
    }

    &--2 {
      align-self: center;
    }

    &--3 {
      align-self: flex-end;
    }
  }
}
