.features {
  padding: 0 30px;
  text-align: center;
  padding-bottom: 100px;
  position: relative;

  &__title {
    font-size: 25px;
    color: $color-dark-blue;
    font-weight: $font-weight-medium;
    padding-bottom: 15px;
  }

  &__description {
    font-size: 15px;
    color: $color-grayish;
    line-height: 25px;
    padding-bottom: 45px;
  }

  &__options {
    padding-bottom: 70px;
  }

  &__option {
    position: relative;
    font-size: $body-font-size;
    font-family: $font-family-rubik;
    color: $color-grayish;
    width: 100%;
    background-color: white;
    border: none;
    border-top: 1px solid rgb(211, 210, 210);
    padding: 20px 0;

    &:last-child {
      border-bottom: 1px solid rgb(207, 207, 207);
    }
  }

  &__image-container {
    position: relative;
    margin-bottom: 80px;
  }

  &__image {
    width: 100%;
    max-width: 600px;
  }

  &__bubble {
    background-color: $color-light-blue;
    position: absolute;
    height: 55vw;
    width: 100%;
    max-width: 600px;
    bottom: -34px;
    left: -30px;
    z-index: -1;
    border-bottom-right-radius: 100px;
  }
}

.active {
  color: $color-dark-blue;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 4px;
    background-color: $color-light-red;
    border-radius: 3px;
  }
}
