.questions {
  padding: 0 30px;
  text-align: center;
  line-height: 30px;
  padding-bottom: 100px;

  &__title {
    font-size: 25px;
    color: $color-dark-blue;
    font-weight: $font-weight-medium;
    padding-bottom: 15px;
  }

  &__description {
    font-size: 15px;
    color: $color-grayish;
    line-height: 25px;
    padding-bottom: 55px;
  }

  &__button {
    text-decoration: none;
    background-color: $color-light-blue;
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 15px;
  }
}
