@import './utils/reset.scss';
@import './utils/variables.scss';

@import '../App.scss';
@import '../components/Navigation/Navigation.scss';
@import '../components/Hero/Hero.scss';
@import '../components/Introduction/Introduction.scss';
@import '../components/Features/Features.scss';
@import '../components/Extensions/Extensions.scss';
@import '../components/BrowserCard/BrowserCard.scss';
@import '../components/FAQ/FAQ.scss';
@import '../components/Accordion/Accordion.scss';
@import '../components/Contact/Contact.scss';
@import '../components/Footer/Footer.scss';
@import '../components/BurgerMenu/BurgerMenu.scss';
@import '../components/Modal/Modal.scss';
@import '../components/Button/Button.scss';

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: $body-font-size;
  font-family: $font-family-rubik;
}
