.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0 85px 0;

  @media (min-width: 1100px) {
    padding-bottom: 200px;
  }

  &__options {
    display: none;

    @media (min-width: 750px) {
      display: flex;
      gap: 30px;
      align-items: center;
    }
  }

  &__option {
    text-decoration: none;
    color: $color-dark-blue;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;

    &:hover {
      color: $color-light-red;
    }
  }

  &__burger-icon {
    @media (min-width: 750px) {
      display: none;
    }
  }
}
