.footer {
  font-size: $small-font-size;
  background-color: $color-dark-blue;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-transform: uppercase;

  @media (min-width: 750px) {
    flex-direction: row;
    justify-content: space-around;
  }

  &__options {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    letter-spacing: 1px;

    @media (min-width: 750px) {
      flex-direction: row;
    }
  }

  &__option {
    text-decoration: none;
    color: rgb(197, 197, 197);

    @media (min-width: 900px) {
      &:hover {
        color: $color-light-red;
      }
    }
  }

  &__icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 22%;
    padding-top: 20px;

    @media (min-width: 750px) {
      padding-top: unset;
      justify-content: space-evenly;
    }

    &--facebook {
      &::before {
        content: '';
        height: 24px;
        width: 24px;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(../../../public/assets/icons/icon-facebook.svg);
        cursor: pointer;
        display: block;
      }

      &::after {
        content: '';
        height: 24px;
        width: 24px;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(../../../public/assets/icons/icon-facebook-red.svg);
        cursor: pointer;
        display: none;
      }
    }

    &--twitter {
      &::before {
        content: '';
        height: 24px;
        width: 27px;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(../../../public/assets/icons/icon-twitter.svg);
        cursor: pointer;
        display: block;
      }

      &::after {
        content: '';
        height: 24px;
        width: 27px;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(../../../public/assets/icons/icon-twitter-red.svg);
        cursor: pointer;
        display: none;
      }
    }

    @media (min-width: 900px) {
      .footer__icons--facebook,
      .footer__icons--twitter {
        &:hover {
          &::before {
            display: none;
          }

          &::after {
            display: block;
          }
        }
      }
    }
  }
}
